:root {
  --color-brand: rgba(129, 155, 87, 1);
  --color-brand-dark: rgba(70, 89, 41, 1);
  --color-primary-light: rgba(250, 244, 234, 1);
  --color-primary-dark: rgba(49, 38, 26, 1);
}

.title1 {
  color: rgba(250, 244, 234, 1);
}
.title1 .accent {
  color: var(--color-brand);
}
.button1 {
  background: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  color: var(--color-primary-light);
  width: 174px;
  height: 27px;
  cursor: pointer;
}
.button1:hover {
  background: var(--color-brand-dark);
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
}
.button1:active {
  background: transparent;
  color: var(--color-primary-dark);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
}
.header-link {
  color: var(--color-primary-light);
}
.header-link:hover {
  color: var(--color-brand);
}
ul {
  list-style-type: none;
  padding: 0;
}
.adventages-list {
  background-color: var(--color-brand);
  color: var(--color-primary-light);
}
.section-title {
  color: var(--color-primary-dark);
}
.section-title .accent {
  color: var(--color-brand-dark);
}
